.project__image {
  max-width: 500px;
  width: 100%;
  max-height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}
